<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/perfil" routerDirection="back">
        <i class='bx bxs-chevron-left'></i>
      </ion-button></ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" >
  <ion-header color="primary"  >
    <div class="coloras">
    <ion-toolbar color="primary">
      
      <div class="ion-text-center " >
        <p>Actualiza tus datos personales</p>
      </div>
      <ion-card>
      <ion-item>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input placeholder="Elioth"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input placeholder="Villaroel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Numero de identidad</ion-label>
        <ion-input placeholder="Numero de identidad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input placeholder="arielsalas1b@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Celular</ion-label>
        <ion-input placeholder="+569 99521787"></ion-input>
      </ion-item>
      
    </ion-card>
    <div class="ion-text-center">
    <ion-button  color="light" fill="solid">Actualizar Datos</ion-button>
  </div>
    </ion-toolbar>
    
  </div>
  </ion-header>
</ion-content>
