<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/perfil" routerDirection="back">
        <i class='bx bxs-chevron-left'></i>
      </ion-button></ion-buttons>
    <ion-title>Mis Ordenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card-header>
      <ion-card-title>Mis Ordenes</ion-card-title>
    </ion-card-header>
  
    <ion-content>
      <ion-list>
        <ion-item routerLink="/perfil-cuenta">
          <ion-avatar  ><img src="assets/img/piscomistral.png" color="primary" ></ion-avatar> 
          <ion-label>
            <h4>Pisco Mistral 35° 750 ml</h4>
            <p>Entregado - 07/10</p>
          </ion-label>         
        </ion-item>
    
        <ion-item routerLink="/perfil-cuenta">
          <ion-avatar  ><img src="assets/img/piscomalpaso.jpg" color="primary" ></ion-avatar> 
          <ion-label>
            <h4>Pisco Mal Paso Pedro Jimenez</h4>
            <p>Entregado - 13/10</p>
          </ion-label>         
        </ion-item>
    
        <ion-item routerLink="/perfil-cuenta">
          <ion-avatar  ><img src="assets/img/piscomistral.png" color="primary" ></ion-avatar> 
          <ion-label>
            <h4>Pisco Mistral 35° 750 ml</h4>
            <p>Entregado - 07/10</p>
          </ion-label>         
        </ion-item>
  
        <ion-item routerLink="/perfil-cuenta">
          <ion-avatar  ><img src="assets/img/piscomistral.png" color="primary" ></ion-avatar> 
          <ion-label>
            <h4>Pisco Mistral 35° 750 ml</h4>
            <p>Entregado - 07/10</p>
          </ion-label>         
        </ion-item>
    
        <ion-item routerLink="/perfil-cuenta">
          <ion-avatar  ><img src="assets/img/piscomistral.png" color="primary" ></ion-avatar> 
          <ion-label>
            <h4>Pisco Mistral 35° 750 ml</h4>
            <p>Entregado - 07/10</p>
          </ion-label>         
        </ion-item>
    
        <ion-item routerLink="/perfil-cuenta">
          <ion-avatar  ><img src="assets/img/piscomistral.png" color="primary" ></ion-avatar> 
          <ion-label>
            <h4>Pisco Mistral 35° 750 ml</h4>
            <p>Entregado - 07/10</p>
          </ion-label>         
        </ion-item>
    
    
        <ion-item routerLink="/perfil-cuenta">
          <ion-avatar  ><img src="assets/img/piscomistral.png" color="primary" ></ion-avatar> 
          <ion-label>
            <h4>Pisco Mistral 35° 750 ml</h4>
            <p>Entregado - 07/10</p>
          </ion-label>         
        </ion-item>
      </ion-list>

    </ion-content>


</ion-content>
