<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/perfil" routerDirection="back">
        <i class='bx bxs-chevron-left'></i>
      </ion-button></ion-buttons>
    <ion-title>Escribenos</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="light" >
  <ion-item class="ion-padding" >
    <ion-label  position="stacked">Tu opinion es muy importante <br>para nosotros:</ion-label>
    <ion-textarea rows="9" cols="12"  placeholder=""></ion-textarea>

  <div class="ion-text-center">
    <ion-button  color="primary" fill="solid">Enviar</ion-button>
  </div>
  </ion-item>

</ion-content>
